{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link type="text/css" href="{% static 'lot/css/m_styles.css' %}" rel="stylesheet" />
    <title>Аукцион</title>


</head>
<body>
    <header>
        <h1>Passat B4 1995г.</h1>
         <h2>Аукцион завершится через:</h2>
            <div class="timer">
                <div class="timer__items">
                    <div class="timer__item timer__days">00</div>
                    <div class="timer__item timer__hours">00</div>
                    <div class="timer__item timer__minutes">00</div>
                    <div class="timer__item timer__seconds">00</div>
                </div>
            </div>
            <h2 class="best-bed">Текущая ставка: {{max_bid}} руб.</h2>
    </header>

    <main>
        <div class="container">
             <div class="top-bed">
                        <h2>Топ предложений:</h2>
                        <ul>
                            {% for bid in bids %}
                                <li>{{bid.user_name}}: {{ bid.amount }} - {{ bid.created_at|date:"d.m.Y" }}</li>
                            {% endfor %}
                        </ul>
                    </div>

            <hr>

            <div class="description">
                <div class="description-content">
                    <ul>
                        <li>Фольксваген Пассат В4 1995 г.в</li>
                        <li>Кузов - Седан</li>
                        <li>КПП - Механика</li>
                        <li>Мощность -  85квт/116л.с</li>
                        <li>Передние стеклоподъемники</li>
                        <li>Гидроусилитель руля</li>
                        <li>Растаможен на область</li>
                    </ul>
                    <hr>
                    <p>
                        Автомобиль пригнали в 2012 году под документы
                        По документам 1988 года выпуска
                        Все отметки о замене двигателя и кузова стоят в ПТС(есть фото)
                        Ездил...<span class="showDescription" onclick="toggleDescription()">развернуть</span>
                    </p>

                    <div id="description">
                        <p>
                            пенсионер на дачу и на рыбалку, 2 года автомобиль стоял в гараже.
                            По кузову нет нареканий, крепкий, целый, в ДТП не был.
                        </p>
                        <h4 class="paragraph-title">Что успели заменить:</h4>
                        <p class="description-left-40">
                            - все новые тормозные диски и колодки<br>
                            - наконечник рул.тяги лев<br>
                            - пыльник рул.рейки<br>
                            - шланг тормозной<br>
                            - пыльник ШРУСа внутр.<br>
                            - ремкомплект суппорта 2шт<br>
                            - подшипник ступицы зад. 2 шт.<br>
                            - развал схождение
                        </p>
                        <h4 class="paragraph-title">Что требуется заменить/сделать:</h4>
                        <p class="description-left-40">
                            - задний сальник коленвала<br>
                            - прокладка крышки переднего сальника<br>
                            - прокладка поддона ДВС<br>
                            - уплотн. трубки сапуна<br>
                            - боковой фланец ГБЦ<br>
                            - задний фланец ГБЦ<br>
                            - помпа<br>
                            - уплотнитель корпуса помпы<br>
                            - шланги печки<br>
                            - приводные ремни<br>
                            - передний сальник коленвала<br>
                            - привод ГРМ<br>
                            - Требуется перетяжка потолка<br>
                            - Из 4х дверей открывается только задняя левая, проблема в ручках дверей<br>
                            - Водительская дверь сильно провисла, требуется замена петель<br>
                            - Глушить под замену<br>
                            - Местами отклеилась тонировка.<br>
                        </p>
                        <hr>
                        <p>
                        Продажа по ДКП и Свидетельству о Праве на Наследство(это все что вам надо для перерегистрации в МРЭО)<span class="showDescription" onclick="toggleDescription()">свернуть</span>
                        </p>
                    </div>

                </div>
                <hr>
                <video id="myVideo" src="{{ MEDIA_URL }}WV 01.mp4" autoplay muted controls></video>

            </div>


        <div class="img-container">

            {% for url_img in photo %}
                <div class="img">
                    <img src="{{ MEDIA_URL }}{{url_img.description}}">
                </div>
            {% endfor %}

        </div>

        <div class="pop-up">
{#            <div class="overlay1"></div>#}
            <span class="close-button">×</span>
            <img src="" alt="Modal Image" class="modal-image">
        </div>
        <div class="rules">
            <img src="{% static 'lot/img/close_button.svg' %}" class="close-button in-rules" onclick="closeRules()">
            <p>
                Администрация не несёт ответственности за действия участников аукциона, и не принимает участие в сделках,
                проводимых покупателем и продавцом, мы предоставляем площадку - сайт исключительно для того, что бы продавец
                нашёл потенциального покупателя.<br>
                1. Шаг ставки 3000(три тысячи рублей)<br>
                2. Вы являетесь победителем если Ваша цена не была никем перебита в течение 72 часов.<br>
                3. Вам позвонят и согласуют дату регистрации в МРЭО только после окончания аукциона.<br>
                4. Информация представлена в самом подробном виде.<br>
                5. В исключительных случаях обращаться в окошко <span class="open-message" onclick="openMessage()">"Написать сообщение"</span> с указанием вашего имени и номера телефона.<br>
            </p>
        </div>
    </div>

    <div class="overlay"></div>
    <form class="form" action="" method="POST">
        {% csrf_token %}
        <div class="input-container ic1">
           {{ form.user_name }}
           <div class="cut"></div>
           <label class="placeholder">Ваше имя</label>
        </div>
        <div class="input-container ic2">
           {{ form.phone }}
           <div class="cut cut-long"></div>
           <label class="placeholder">Номер телефона</label>
        </div>
        <div class="input-container ic2">
           {{ form.amount }}
           <div class="cut "></div>
           <label class="placeholder">Ваша ставка, шаг 3000 руб.</label>
        </div>
        <div class="input-container ic4">
            <input type="checkbox" class="checkbox" required>
            <p class="checkbox-label">
                Согласен c <span class="open_rules" onclick="openRules()">условием аукциона</span>
            </p>
        </div>
        <button type="submit" class="submit">Сделать ставку</button>
    </form>

    <div class="container-message">
        <form class="form message-form" action="/save-message/" method="POST">
            {% csrf_token %}
            <div class="input-container ic1">
               {{ message_form.name }}
               <div class="cut"></div>
               <label class="placeholder">Ваше имя</label>
            </div>
            <div class="input-container ic2">
               {{ message_form.phone }}
               <div class="cut cut-second"></div>
               <label class="placeholder">Номер телефона</label>
            </div>
            <div class="input-container ic3">
               {{ message_form.text }}
               <div class="cut cut-third"></div>
               <label class="placeholder">Напишите сообщение</label>
            </div>
            <button type="submit" class="submit">Отправить сообщение</button>
        </form>
    </div>


    <div style="height: 100px"></div>
    </main>

    <footer class="open-form">
        <h2 class="shimmer-text">Предложить цену</h2>

    </footer>

    <script>

        const images = document.querySelectorAll('.img-container img');
        const modal = document.querySelector('.pop-up');
        const modalImage = document.querySelector('.modal-image');
        const closeButton = document.querySelector('.close-button');        
        let currentIndex = 0;
        const overlay = document.querySelector('.overlay');
        const openForm = document.querySelector('.open-form');
        const betForm = document.querySelector('.form');
        const messageForm = document.querySelector('.container-message')
        // const textField = document.getElementById('id_user_name')
        let touchStartX = 0;
        let touchEndX = 0;

document.addEventListener('DOMContentLoaded', function () {
      // конечная дата
      const deadline = new Date({{ dead_time_str }});
      // id таймера
      let timerId = null;
      // склонение числительных
      function declensionNum(num, words) {
        return words[(num % 100 > 4 && num % 100 < 20) ? 2 : [2, 0, 1, 1, 1, 2][(num % 10 < 5) ? num % 10 : 5]];
      }
      // вычисляем разницу дат и устанавливаем оставшееся времени в качестве содержимого элементов
      function countdownTimer() {
        const diff = deadline - new Date();
        if (diff <= 0) {
          clearInterval(timerId);
        }
        const days = diff > 0 ? Math.floor(diff / 1000 / 60 / 60 / 24) : 0;
        const hours = diff > 0 ? Math.floor(diff / 1000 / 60 / 60) % 24 : 0;
        const minutes = diff > 0 ? Math.floor(diff / 1000 / 60) % 60 : 0;
        const seconds = diff > 0 ? Math.floor(diff / 1000) % 60 : 0;
        $days.textContent = days < 10 ? '0' + days : days;
        $hours.textContent = hours < 10 ? '0' + hours : hours;
        $minutes.textContent = minutes < 10 ? '0' + minutes : minutes;
        $seconds.textContent = seconds < 10 ? '0' + seconds : seconds;
        $days.dataset.title = declensionNum(days, ['день', 'дня', 'дней']);
        $hours.dataset.title = declensionNum(hours, ['час', 'часа', 'часов']);
        $minutes.dataset.title = declensionNum(minutes, ['минута', 'минуты', 'минут']);
        $seconds.dataset.title = declensionNum(seconds, ['секунда', 'секунды', 'секунд']);
      }
      // получаем элементы, содержащие компоненты даты
      const $days = document.querySelector('.timer__days');
      const $hours = document.querySelector('.timer__hours');
      const $minutes = document.querySelector('.timer__minutes');
      const $seconds = document.querySelector('.timer__seconds');
      // вызываем функцию countdownTimer
      countdownTimer();
      // вызываем функцию countdownTimer каждую секунду
      timerId = setInterval(countdownTimer, 1000);
    });



    function toggleDescription() {

        let description = document.getElementById("description");
        if (description.style.display === "none" || description.style.display === "") {
            description.style.display = "block";
        } else {
            description.style.display = "none";
        }
            }

modalImage.addEventListener('touchstart', (e) => {
    touchStartX = e.touches[0].clientX;
});

modalImage.addEventListener('touchmove', (e) => {
    touchEndX = e.touches[0].clientX;
});

modalImage.addEventListener('touchend', () => {
    const swipeThreshold = 50; // Порог для определения свайпа
    if (touchEndX === 0) return
    if (touchStartX - touchEndX > swipeThreshold) {
        // Пользователь свайпнул влево (следующее изображение)
        nextButton();
    } else if (touchEndX - touchStartX > swipeThreshold) {
        // Пользователь свайпнул вправо (предыдущее изображение)
        prevButton();
    }
    touchEndX = 0;
});

// Отобразить модальное окно с изображением
images.forEach((img, index) => {
    img.onclick = () => {
        modal.style.display = 'block';
        modalImage.src = img.getAttribute('src');
        currentIndex = index;
        overlay.style.display = 'block'; // Показать overlay
    };
});

// Закрыть модальное окно и overlay
function closeModal() {
    modal.style.display = 'none';
    overlay.style.display = 'none';
    betForm.style.display = 'none';
    openForm.style.display = 'block';
    closeMessage()
}

closeButton.onclick = closeModal;

function showForm() {
    if (betForm.style.display === 'block') {
        betForm.style.display = 'none';
        openForm.style.display = 'block';
        overlay.style.display = 'none';
    } else {betForm.style.display = 'block';
            openForm.style.display = 'none';
            overlay.style.display = 'block';
            document.getElementById('id_user_name').focus()
    }

}

openForm.onclick = showForm;

// Добавьте обработчик события клика на overlay для закрытия модального окна
overlay.onclick = closeModal;

// Переключение на предыдущее изображение
function prevButton(){
    if (currentIndex > 0) {
        currentIndex--;
        modalImage.src = images[currentIndex].getAttribute('src');
    } else {
        currentIndex = images.length - 1;
        modalImage.src = images[currentIndex].getAttribute('src');
    }
}

// Переключение на следующее изображение
function nextButton(){
    if (currentIndex < images.length - 1) {
        currentIndex++;
        modalImage.src = images[currentIndex].getAttribute('src');
    } else {
        currentIndex = 0;
        modalImage.src = images[currentIndex].getAttribute('src');
    }
}
    function openRules() {
            const rulesAuction = document.querySelector('.rules');
            rulesAuction.classList.add('show-rules');
            document.querySelector('.in-rules').style.display = 'block'
        }
        function closeRules() {
            const rulesAuction = document.querySelector('.rules');
            document.querySelector('.in-rules').style.display = 'none'
            rulesAuction.classList.remove('show-rules');
        }
        function openMessage() {
            closeRules()
            openForm.style.display = 'none'
            betForm.style.display = 'none'
            overlay.style.display = 'block';
            messageForm.style.display = 'block'
            document.getElementById('id_name').focus()
        }
        function closeMessage() {
            messageForm.style.display = 'none'
        }

    </script>

</body>
</html>